In [1]:
class HashTable:
    # init function for our hash table
    # h is a function that maps a universe U to range(n)
    def __init__(self, h, n):
        self.h = h
        # store n buckets, each of which has a linked list. 
        # I'm just going to implement as python arrays.
        self.buckets = [ [] for i in range(n) ]
        
    def insert(self, x):
        self.buckets[self.h(x)].append(x)
        
    # delete an item in the hash table, if it's in there
    # returns the deleted item, or None if it wasn't found.
    def delete(self,x):
        bucket = self.buckets[self.h(x)]
        # take time O(n) to look for x in the bucket.
        for i in range(len(bucket)):
            if bucket[i] == x:
                return bucket.pop(i)
        return None
    
    # same as delete, but don't remove it when you find it.
    def find(self,x):
        bucket = self.buckets[self.h(x)]
        # take time O(n) to look for x in the bucket.
        for i in range(len(bucket)):
            if bucket[i] == x:
                return bucket[i]  
        return None

In [4]:
def xModn(x):
    return (x*7)%5

In [6]:
HT = HashTable(xModn, 5) # make a hash table that uses the last digit.
list1 = [7,5,3,4,1,2,8]
for i in list1:
    HT.insert(i)

    x = 7
    y = 0
# let's make sure that x is there and y isn't.
if HT.find(x) == x:
    print("successfully found", x, ": GREAT!")
else:
    print("failed to find", x, ": SOMETHING's BROKEN!")
    
    
if HT.find(y) == None:
    print( y, "is not in the hash table", ": GREAT!")
else:
    print( "found", y, "in the hash table", ": SOMETHING's BROKEN!")

successfully found 7 : GREAT!
0 is not in the hash table : GREAT!

In [7]:
import sqlite3

In [8]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS students
(id integer PRIMARY KEY, name text NOT NULL, gender text NOT NULL, age ineger NOT NULL);""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(1, 'zhangsan', 'male', 18)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(2, 'lisi', 'female', 19)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(3, 'wangwu', 'male', 17)""")
db.commit()
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())
db.close()

[(1, 'zhangsan', 'male', 18), (2, 'lisi', 'female', 19), (3, 'wangwu', 'male', 17)]

In [9]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS class
(id integer PRIMARY KEY, name text NOT NULL, teacher text NOT NULL);""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(100, 'Python', 'CZ')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(101, 'Algorithm', 'GM')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(102, 'SQL', 'WX')""")
db.commit()
cursor.execute("SELECT * FROM class")
print(cursor.fetchall())
db.close()

[(100, 'Python', 'CZ'), (101, 'Algorithm', 'GM'), (102, 'SQL', 'WX')]

In [10]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS enrolled
(student integer NOT NULL, class integer NOT NULL, grade integer NOT NULL);""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(1, 100, 80)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(2, 102, 90)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(3, 101, 70)""")
db.commit()
cursor.execute("SELECT * FROM enrolled")
print(cursor.fetchall())
db.close()

[(1, 100, 80), (2, 102, 90), (3, 101, 70)]

In [11]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""SELECT students.id, students.name, students.gender, students.age, enrolled.class, enrolled.grade FROM students JOIN enrolled on students.id = enrolled.student""")
print(cursor.fetchall())
db.close()

[(1, 'zhangsan', 'male', 18, 100, 80), (2, 'lisi', 'female', 19, 102, 90), (3, 'wangwu', 'male', 17, 101, 70)]