In [4]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [6]:
s

a   -1.518507
b    0.309321
c   -0.311496
d    0.013335
e   -0.018506
dtype: float64

In [7]:
pd.Series(np.random.randn(5))

0    0.057709
1   -0.808460
2    0.350755
3    0.523145
4   -0.141771
dtype: float64

In [22]:
d = {'ID' : pd.Series([1,2,3],index=['a','b','c']),
     'Genders' : pd.Series(["female","female","male","male"],index=['a','b','c','d'])}

In [23]:
df = pd.DataFrame(d)

In [24]:
df

    ID Genders
a  1.0  female
b  2.0  female
c  3.0    male
d  NaN    male

In [25]:
import numpy as np 
  
# Given values 
Y_true = [1,1,2,2,4]  # Y_true = Y (original values) 
  
# Calculated values 
Y_pred = [0.6,1.29,1.99,2.69,3.4]  # Y_pred = Y' 
  
# Mean Squared Error 
MSE = np.square(np.subtract(Y_true,Y_pred)).mean()

In [26]:
MSE

0.21606

In [27]:
def softmax(X):
    exps = np.exp(X)
    return exps / np.sum(exps)

In [36]:
import math

In [39]:
# calculate cross entropy
def cross_entropy(p, q):
	return -sum([p[i]*math.log(q[i],2) for i in range(len(p))])

In [41]:
x = [1,0],[0.9,0.1]
y = [0,1],[0.2,0.8]
cross_entropy([1,0],[0.9,0.1])

0.15200309344504997